body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.center-box {
    background: white;
    padding: 5vw;
    width: 10%;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
}

@media (max-width: 350px) {
    .center-box {
        max-width: 300px;
        padding: 6vw;
    }
}